.container {
  padding: 30px;
  background: #cfdad0;   
  text-align: center;
}

/* card wrapper */
.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* card style */
.card {
  width: 80%;
  max-width: 900px;
  background: #f5f5f5;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}